@font-face {
	font-family: FiraCode Nerd Font;
	src: url(/src/fonts/FiraCodeNerdFont-Medium.ttf);
}

body{
	background-color: #11111b;
	font-family: FiraCode Nerd Font, monospace
}

body ::selection{
	background-color: #585b70;
}

.container{
	background-color: #1e1e2e;
	padding: 15px 15px 15px 15px;
	margin: 13% 25% 13% 25%;
	color: #cdd6f4;
}

.head{
	background-color: #cdd6f4;
	text-align: center;
	color: #11111b;
	padding: 20px 20px 20px 20px;
}

.linkcontainer{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: #181825;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}

ul{
	list-style-type: none;
	padding-left: 0%;
	text-align: center;
}

li{
	text-align: center;
	margin:  10px 10px 10px 10px;
}

li a{
	text-decoration: none;
	color: #cdd6f4;
}