@font-face {
	font-family: Fira Code, monospace;
	src: url();
}

body{
	background-color: #11111b;
	font-family: FiraCode Nerd Font, monospace;
	::selection{
        background-color: #585b70;
    }
}

.container{
	background-color: #1e1e2e;
	padding: 15px;
	margin: 15%;
	color: #cdd6f4;
}

.head{
	background-color: #cdd6f4;
	text-align: center;
	color: #11111b;
	padding-top: 20px;
	padding-bottom: 20px;
}

.linkcontainer{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
li{
	text-align: start;
	color: #cdd6f4;
}
li a{
	text-decoration: none;
}